<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /index.php/$1 [L]
</IfModule>

<IfModule mod_env.c>
	SetEnv PR_DB_HOST localhost
	SetEnv PR_DB_NAME test
	SetEnv PR_DB_USER root
	SetEnv PR_DB_PASSWORD 
	SetEnv PR_DB_CHARSET utf8
	SetEnv PR_DB_COLLATION utf8_unicode_ci
	SetEnv PR_DB_PORT 3306
	SetEnv PR_DB_DRIVER mysql
	SetEnv PR_XML_NAMESPACE http://www.phrest.org/
</IfModule>

